.header {
  color: $color-white;
  min-height: 70vh;
  @include flex(row, space-around, center);
  padding: 4rem;
  position: relative;
  //   background-image: linear-gradient(242deg, #61bfd9 16%, #0551b4 67%);

  &__image {
    flex: 1 1 40%;
    min-height: 70vh;
    position: relative;

    &-sliders {
      height: 80vh;
      position: absolute;
      top: 10%;
      left: 15%;
      width: 80%;
      overflow: hidden;
      box-shadow: 0 1rem 10rem black;

      img {
        position: absolute;
        height: 120%;
        width: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        transform-origin: 100% 100%;
        //   position: absolute;
      }
    }
  }
  &__text {
    @include flex(column, space-between, flex-start);
    min-height: 70vh;
    flex: 1 1 60%;
    &-credit {
      align-self: flex-end;
      opacity: 0.8;
      font-size: 2rem;
      a {
        text-decoration: line-through;
        color: $color-white;
        :hover {
          text-decoration: none;
        }
      }
    }
    &-heading {
      font-size: 15rem;
      transform: translateX(-20%);
    }
    &-subheading {
      font-family: $font-secondary;
      font-weight: 500;
      opacity: 0.6;
      padding-left: 2rem;
    }
  }
}

.input {
  @include flex(row, flex-start, center);
  background: rgb(255, 251, 251);
  color: $color-grey-dark;
  z-index: 5;
  width: 90%;
  transform: translate(-20%, 110%);
  box-shadow: 0 1rem 10rem black;
  &__text {
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
    input {
      width: 8%;
      margin: 0 0.5rem;
      padding: 1rem 1rem;
      font-size: 2rem;
      border: 1px solid $color-grey-dark;
    }
  }
  button {
    margin-left: auto;
  }
}
