.container {
  min-height: 100vh;
}

.section-header {
  min-height: 80vh;
}

.section-text {
  min-height: 100vh;
  width: 80%;
  margin: auto;
}

.text {
  min-height: 100vh;
  padding: 10rem 5rem;
  @include flex(column, space-evenly, center);
  p {
    padding: 3rem;
  }
}
